<h1 class="title">Market Viewer</h1>
<h3 class="descrip"> View and analyze your favorite stocks and ETFs</h3>

<div class="container">
  <% if @invalid_stock %>
    <div class="warning">Invalid Stock/ETF entered, please try again using the input below</div>
  <% elsif @data.length == 0 %>
    <div class="warning">No Stocks selected, add stocks to view using the input below</div>
  <% elsif @error %>
    <div class="warning">Unable to render the charts, please referesh in 60 seconds</div>
  <% end %>
  <div class="chart">
    <%=
      line_chart @data,
      min: @min,
      max: @max,
      xtitle: "Time",
      ytitle: "Relative Stock Price",
      points: false,
      refresh: 120
    %>
  </div>

  <div class="table">
    <div class="add-stock-input">
      Add Stock/ETF:
      &nbsp;
      <%= form_tag("stock/add_stock", method: "post") do %>
        <%= text_field_tag(:stock) %>
        <%= submit_tag("Add", :class=>"add-button") %>
      <% end %>
    </div>
    <div class="stock-table-div">
      <table class="stock-table">
        <tr>
            <th></th>
            <th>Company</th>
            <th>Symbol</th>
            <th>Type</th>
            <th>Last Price (USD)</th>
            <th>Change (over 90D)</th>
            <th>Last Volume (M)</th>
            <th>Average Volume (M)</th>
        </tr>
        <% @table_data.each do |entry| %>
          <tr>
            <td>
              <%= button_to "", delete_stock_path(entry['symbol']), class: 'close-icon' %>
            </td>
            <td><%= entry['company'] %></td>
            <td><%= entry['symbol'] %></td>
            <td><%= entry['type'] %></td>
            <td><%= entry['close_price'] %></td>
            <td><%= entry['change'] %></td>
            <td><%= entry['last_vol'] %></td>
            <td><%= entry['avg_vol'] %></td>
          </tr>
        <%end %>
      </table>
    </div>
  </div>
</div>

