<h1 class="title">Market Viewer</h1>
<h3 class="descrip"> View and analyze your favorite stocks</h3>

<div class="container">
  <% if @error %>
    <div class="warning">Unable to render the charts, please referesh in 60 seconds</div>
  <% end %>
  <% if @data.length == 0 %>
    <div class="warning">No Stocks selected, add stocks to view using the input below</div>
  <% end %>
  <div class="chart">
    <%=
      line_chart @data,
      min: @min,
      max: @max,
      xtitle: "Time",
      ytitle: "Relative Stock Price",
      points: false,
      refresh: 300
    %>
  </div>

  <div class="table">
    <div class="add-stock-input">
      Add Stock:
      &nbsp;
      <input type="text" name="add-stock" />
      <%= button_to "Add", add_stock_path('GOOG'), class: 'add-icon' %>
    </div>
    <div class="stock-table-div">
      <table class="stock-table">
        <tr>
            <th></th>
            <th>Company</th>
            <th>Symbol</th>
            <th>Type</th>
            <th>Last Price (USD)</th>
            <th>Change (over )</th>
            <th>Last Volume (M)</th>
            <th>Average Volume (M)</th>
        </tr>
        <% @table_data.each do |entry| %>
          <tr>
            <td>
              <%= button_to "", delete_stock_path(entry['symbol']), class: 'close-icon' %>
            </td>
            <td><%= entry['company'] %></td>
            <td><%= entry['symbol'] %></td>
            <td><%= entry['type'] %></td>
            <td><%= entry['close_price'] %></td>
            <td><%= entry['change'] %></td>
            <td><%= entry['last_vol'] %></td>
            <td><%= entry['avg_vol'] %></td>
          </tr>
        <%end %>
      </table>
    </div>
  </div>
</div>

